
body {
    background-color: #eee;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #231307;
    padding: 10px;
}

.logo {
    width: 270px;
    height: 50px;
    background-color: #eee;
    text-align: center;
    line-height: 50px;
}

nav {
    background-color: black;
}


nav
.menu-principal {
    margin-top: 36px;
    margin-left: 90px;
    
    
}

.menu-principal ul {
    list-style: none;
    
}

.menu-principal li {
    float: left;
}

.menu-principal a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    
}

.menu-principal a:hover {
    text-decoration: underline;
}

.box {
    display: flex;
}


.search {
    color: #fff;
    background-color: #333;
    padding: 10px;
    margin-right: 10px;
}


.social {
    color: #fff;
    background-color: #333;
    display: inline-block;
    padding: 10px;
   
}

.social span {
    /* margin-right: 10px; */
}





