
body {
    background-color: #eee;
   
}

header {
    height: 200px;
    background-color: #231307;
}

.logo {
    width: 400px;
    height: 40px;
    background-color: #eee;
    text-align: center;
    line-height: 40px;
}